/*Modification by Vamsi*/
.site--header.site--header--new .ui.menu {
	border:0px;
}
.content_info.content_info--new .item .middle.aligned,.content_info .item .content{
	vertical-align: middle !important;
}
.description.description--new a{
	color:#000;
}
.ui.table.table--new:not(.unstackable) tr{
	padding:0px !important;
	box-shadow: unset !important;
}
.ui.table.table--new {
	border: none !important;
}
.ui.checkbox.checkbox--new label:before,
.ui.checkbox.checkbox--new label:after {
	width: 14px !important;
	height: 14px !important;
	border: none !important;
}
.ui.checkbox.checkbox--new label:before,
.ui.checkbox.checkbox--new label:hover:before {
	background: #b2b2b2 !important;
}
.ui.checkbox.checkbox--new label:after {
	content: '' !important;
	background: url("../images/icons/icon-check.png") center no-repeat !important;
}
.ui.checkbox.checked.checkbox--new label:before {
	background: #9ed339 !important;
	border: 1px solid #80b815 !important;
}
.ui.segment.segment--new{
	border-width:0px;
}
.ui.accordion.accordion--new .content{
	padding-top: 20px !important;
}
.ui.accordion.accordion--new .content .input.field{
	padding-right: 0px;
}
.share_link.share_link--new input{
	width:100%;
}
.right_content.right_content--new .ui.input{
	display:inline-block;
}
.ui.dropdown.dropdown--new .menu{
	width:100% !important;
}
.right_sidebar.right_sidebar--new .social_links a > i {
	display: inline-block;
}
.profile_content.profile_content--new .segment > .organization_table .table th,
.profile_content.profile_content--new .segment > .organization_table .table td {
	padding: 1.5em !important;
}
.profile_content.profile_content--new .segment .gallery_nav {
	line-height: 0px;
}
@media screen and (max-width: 991px) {
	.ui.menu.menu--new{
		justify-content:center;
	}
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > td,
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > td,
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > th,
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > th {
		padding: .6em 1em !important;
		padding-left: 50% !important;
		text-align: left !important;
	}
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > td:nth-child(1),
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > td:nth-child(1),
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > th:nth-child(1),
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > th:nth-child(1) {
		padding-left: 1em !important;
	}
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > td:nth-child(1):before,
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > td:nth-child(1):before,
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > th:nth-child(1):before,
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > th:nth-child(1):before {
		left: 40px ;
		padding-left: 0 !important;
	}
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > td:nth-child(2),
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > td:nth-child(2),
	.site_main.site_main--new .site_content .table_hold .table > thead > tr > th:nth-child(2),
	.site_main.site_main--new .site_content .table_hold .table > tbody > tr > th:nth-child(2) {
		padding-left: 1em !important;
	}
	.site_main.site_main--new .site_content .table_hold .table > thead th:first-child {
		padding: 1em !important;
		display: block !important;
	}
	.site_main.site_main--new .profile_content .segment .social_profiles tr {	
        padding: .5em 0 !important;
		border-bottom: 1px solid #c1c1c1;
	}
}
